* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #fff;
  font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
    sans-serif;
}

.header {
  position: absolute;
  top: 0;
  min-width: 1024px;
  background: #956946;
  width: 100%;
  height: 55px;
}

footer {
  height: 80px;
  background: #f0f0f0;
}

.wrap-main {
  max-width: 1200px;
  min-width: 1024px;
  width: 100%;
  height: 55px;
  background: #2d1b1b;
  margin: auto;
  position: relative;
  display: block;
}

.box-left {
  float: left;
  width: 100%;
}

#wapper-menu-header {
  background: #956946;
  margin-bottom: 5px;
  /* min-width: 1024px; */
}

.box-menu-header {
  width: 1200px;
  margin: 0 auto;
}

.box-home-search-header {
  background-color: #2d1b1b;
  float: left;
  width: 375px;
}

/*==Style cho menu===*/
#menu {
  float: left;
}

#menu ul li {
  margin-left: -5px;
}

#menu ul li:first-child {
  margin-left: 0px;
}

#menu ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 0px;
  z-index: 1;
}

#menu li {
  color: #f1f1f1;
  display: inline-block;
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 13px;
}

#menu a:hover {
  background: #fff;
  color: #5a3a3a;
}

.logo {
  float: left;
  width: 165px;
  display: block;
  padding: 14px 0 9px 5px;
}

a {
  text-decoration: none;
}

.clr {
  clear: both;
}

[class^="icontgdd-"],
[class*="icontgdd-"],
[class^="iconmobile-"],
[class*="iconmobile-"] {
  background-image: url(https://cdn.thegioididong.com/v2015/Content/desktop/images/V4/icondesktop@1x.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.icon-menu-parent {
  width: 50px;
  height: 25px;
  display: block;
  margin: 0 auto 2px;
  margin-top: 3px;
}

.icon-guide-banner {
  width: 20px;
}

.icontgdd-logo {
  background-position: 0 0;
  width: 156px;
  height: 30px;
  display: block;
  margin: auto;
}

#search-site {
  float: left;
  width: 190px;
  height: 35px;
  margin: 10px 10px 0 10px;
  background: #fff;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

element.style {}

input[type="text"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

.topinput {
  float: left;
  width: 140px;
  margin-left: 8px;
  padding-top: 3px;
  border: 0;
  position: relative;
  background: #fff;
  height: 30px;
  text-indent: 10px;
  font-size: 13px;
}

.topinput:active,
:focus {
  outline: none;
}

.btntop {
  float: right;
  width: 40px;
  height: 35px;
  border: 0;
  background: none;
}

.icontgdd-topsearch {
  background-position: -160px 0;
  width: 20px;
  height: 20px;
  display: block;
  margin: 1px auto 0;
}

/* nav {
    width: 785px;
    background: #956946;
    margin: 0;
    padding: 0;
    height: 55px;
    display: table;
}

nav a:hover,
nav a.actmenu {
    background-color: #f5f5f5;
    color: #000;
} */

.icontgdd-mobile {
  background-position: -190px 0;
  width: 16px;
  height: 25px;
  display: block;
  margin: 2px auto 3px;
}

.icontgdd-tablet {
  background-position: -209px 0;
  display: block;
  margin: 0 auto 5px;
  width: 33px;
  height: 22px;
}

.icontgdd-laptop {
  background-position: -245px 0;
  display: block;
  margin: 0 auto 5px;
  width: 39px;
  height: 21px;
}

.icontgdd-phukien {
  background-position: -288px 0;
  display: block;
  margin: 0 auto 5px;
  width: 22px;
  height: 22px;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: #956946;
  /* color: #fff; */
  margin-bottom: 10px;
}

.navbar-header {
  background-color: #2d1b1b;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>a {
  padding: 3px 3px;
}

.navbar-nav {
  margin: 0px;
}

.navbar-default .navbar-nav>li>a {
  padding: 2px 16px;
  white-space: nowrap;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: #f5f5f5;
  color: #000;
}

nav a.mobile {
  width: 70px;
}

.container-menu {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1200px;
  width: 100%;
  min-width: 980px;
}

nav .navbar-nav a {
  /* display: table-cell; */
  /* width: 75px; */
  height: 100%;
  padding: 3px 0 4px;
  color: #fff;
  background: #956946;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

nav a.cardsim,
nav a.utility {
  text-transform: none;
  font-size: 13px;
  padding: 0;
  vertical-align: middle;
  line-height: 19px;
  padding-top: 6px;
}

/* Body content */

.section {
  max-width: 1200px;
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
}

.homebanner {
  float: left;
  width: 65.834%;
  height: 340px;
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  margin-bottom: 10px;
}

.homenews {
  float: right;
  width: 33.2%;
  height: 340px;
  overflow: hidden;
}

.homenews figure {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #efefef;
  background: #fff;
}

.homenews h2 {
  float: left;
  padding: 10px 20px 10px 10px;
  background: #fdd504;
  line-height: 1.3em;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.homenews h2:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 12px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.homenews h2 a {
  font-weight: 600;
}

.liveevent {
  position: relative;
  color: #f33;
  font-size: 12px;
  padding-left: 20px;
  display: inline-block;
  width: 220px;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  float: right;
}

.liveevent .text {
  line-height: 1.4;
  display: inline-block;
  vertical-align: middle;
}

.homenews ul {
  display: block;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

.homenews li {
  display: block;
  padding: 10px 10px 5px;
  border-bottom: 1px solid #ededed;
  background: #fff;
}

.homenews li a {
  display: block;
  overflow: hidden;
}

.twobanner {
  display: block;
  overflow: hidden;
}

.twobanner a {
  display: block;
  overflow: hidden;
  /* margin-top: 10px; */
  margin-bottom: 5px;
}

.homenews li img {
  float: left;
  width: 100px;
  height: 57px;
  margin: 0 10px 0 0;
}

.homenews li h3 {
  display: block;
  overflow: hidden;
  height: 36px;
  line-height: 1.3em;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.homenews li span {
  float: left;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}

aside {
  display: block;
}

#sync2 {
  display: block;
  width: 100%;
  background: #fff;
  height: 41px;
}

#sync2 .owl-item {
  height: 41px;
  position: relative;
  float: left;
}

#sync2 .item {
  display: table;
  width: 98%;
  vertical-align: middle;
  position: relative;
  background: #fff;
  color: #666;
  text-align: center;
  cursor: pointer;
  height: 41px;
  font-size: 12px;
  padding: 0 1%;
}

#sync2 .item h3 {
  font-size: 13px;
  line-height: 1.3em;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#sync2 .owl-item:after {
  content: "";
  float: right;
  height: 25px;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 8px;
  right: 0;
}

.promotebanner a {
  display: block;
  position: relative;
  top: -5px;
  height: 80px;
}

/* Box Sản Phẩm */

.box-img-sanpham {
  width: 100%;
}

.box-sanpham {
  float: left;
  width: 100%;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.box-sanpham-new {
  float: left;
  width: 100%;
  border: 1px solid #ff4d00;
  margin-top: 30px;
  overflow: visible;
  padding-top: 20px;
  padding-left: 1px;
  min-height: 334px;
}

.box-sanpham-new::before {
  content: " ";
  display: block;
  background: url(/themes/img/pn-home.jpg) no-repeat center center;
  background-size: 309px 38px;
  width: 309px;
  height: 38px;
  position: absolute;
  left: 50%;
  margin-top: -39px;
  margin-left: -154px;
  z-index: 9;
}

.item-sanpham {
  width: 20%;
  float: left;
}

.item-sanpham-new {
  float: left;
  width: 100%;
}

.thumbnail-img {
  max-width: 100%;
  padding: 10px;
}

.thumbnail-img:hover {
  transform: translateY(-3px);
  transition: all ease 300ms;
}

.sp-it-ft-name {
  padding: 0px 0px 0px 5px;
  height: 25px;
}

.sp-it-ft-name h3 {
  font-size: 16px;
  color: #333;
  margin-top: 6px;
}

.sp-it-ft-price {
  color: #868ca7;
  padding: 0px 0px 10px 5px;
}

.thumbnail-gia-sp {
  font-size: 18px;
  color: #f00;
}

.box-it-sp {
  padding: 0px 5px 0px 5px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.box-it-sp-new {
  padding: 0px 5px 0px 5px;
}

.link-item-sp:hover {
  background: #f0f0f0;
}

.footer {
  float: left;
  width: 100%;
}

.box-pagination {
  float: left;
  width: 100%;
  padding: 10px 0px 10px 0px;
  text-align: right;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.title-box-sp-home {
  width: 100%;
  float: left;
  line-height: 50px;
  margin: 15px 0px 10px 0px;
}

.text-title-sp-home {
  /* padding-left: 15px; */
  text-transform: uppercase;
}

.text-title-sp-home h1 {
  font-size: 23px;
}

.footer-content {
  height: 100%;
  width: 33.3333%;
  float: left;
}

.ul-menu-footer {
  padding-left: 75px;
  padding-top: 20px;
}

.ul-menu-footer li {
  line-height: 35px;
}

.footer-info-company {
  padding-left: 21px;
  padding-top: 20px;
}

.menu-footer-info-company li {
  line-height: 35px;
}

.link-info-footer {
  margin-bottom: 10px;
}

.info-footer {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.box-success-order {
  padding-top: 10px;
  float: left;
  width: 100%;
}

.footer-copyright {
  float: left;
  width: 50%;
  text-align: right;
  padding: 3px 0px;
}

.div-box {
  float: left;
  width: 100%;
}

.menu-footer-left {
  float: left;
  width: 50%;
  text-align: left;
  padding: 3px 0px;
  background-color: #fff;
  border-radius: 3px;
}

#menu-footer li {
  display: inline-block;
  padding-right: 8px;
  border-right: 1px solid #a9a4a4;
}

#menu-footer li:first-child {
  border-left: 1px solid #a9a4a4;
  padding-left: 8px
}

.menu-footer-left ul {
  margin: 0px;
  padding-left: 10px;
}

.img-thumb-lib-detail {
  width: 100%;
}

.gia-sanpham {
  font-size: 18px;
  color: #154e77;
  font-weight: bold;
}

#dongiasanpham {
  color: #d43b17;
  font-size: 16px;
}

#slGiaohang {
  padding: 2px 8px;
}
.img-product-selling{
  width: 100%;
}
.padding-left-0{
  padding-left: 0px;
}
.padding-right-0{
  padding-right: 0px;
}
.margin-0{
  margin: 0px;
}