<html lang="vi">

<head>
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mua bán ô tô cũ và mới, oto đã qua sử dụng</title>
    <base href="https://bonbanh.com/" />
    <meta content="mua ban oto, ban oto, mua bán ô tô" name="keywords" />
    <meta content="Mua bán ô tô cũ và mới tại Bonbanh.com trang web mua bán ô tô, xe hơi uy tín nhất tại Việt Nam từ năm 2006. Kênh thông tin mua bán ô tô số 1 hiện nay"
        name="description" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="language" content="Vietnamese,vn" />
    <meta name="geo.region" content="VN" />
    <meta http-equiv="refresh" content="900" />
    <meta name="robots" content="index,follow,noodp" />
    <link rel="shortcut icon" href="/img/favico.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://bonbanh.com/css/home_min1.css?v=1.0.1" rel="stylesheet" type="text/css" />
    <meta property="article:section" content="Auto, News" />
    <meta property="article:tag" content="Ô tô, Xe hơi" />
    <meta property="og:title" content="Mua bán ô tô cũ và mới, oto đã qua sử dụng" />
    <meta property="og:description" content="Mua bán ô tô cũ và mới tại Bonbanh.com trang web mua bán ô tô, xe hơi uy tín nhất tại Việt Nam từ năm 2006. Kênh thông tin mua bán ô tô số 1 hiện nay" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://bonbanh.com/" />
    <meta property="og:image" content="https://bonbanh.com/img/flogo.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta property="og:site_name" content="Bonbanh.com - Mua bán ô tô" />
    <script type="text/javascript" src="https://bonbanh.com/js/home_min.js"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no" />