<div class="container">

        <div class="col-md-12">
            <div class="row">
                <div class="slider">
                    <div class="col-lg-8 col-md-8 col-xs-12">
                        <div class="row">
                            <div>
                                <div id="jssor_wp_2" style="position: relative; margin: 0px auto; top: 0px; left: 0px; width: 760px; height: 377.483px; overflow: hidden; visibility: visible;" data-jssor-slider="1">
                                    <!-- Loading Screen -->
                                    <div data-u="loading" class="jssorl-oval" style="position: absolute; top: 0px; left: 0px; text-align: center; background-color: rgba(0, 0, 0, 0.7); width: 755px; height: 375px; display: none;"><img src="./goxinh.net_files/saved_resource" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"></div>
                                    <div style="position: absolute; display: block; top: 0px; left: 0px; width: 760px; height: 377.483px;">
                                        <div style="position: absolute; display: block; top: 1.24172px; left: 2.5px; width: 755px; height: 375px; transform: scale(1.00662);" data-scale-ratio="1.0066225165562914">
                                            <div data-u="slides" style="cursor: default; position: absolute; top: 0px; left: 0px; width: 755px; height: 375px; overflow: hidden; z-index: 0;">
                                                <div style="top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; z-index: 0; pointer-events: none; display: none;"></div>
                                            </div>
                                            <div data-u="slides" style="cursor: default; position: absolute; top: 0px; left: 0px; width: 755px; height: 375px; overflow: hidden; z-index: 0;">
                                                <div style="top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; background-color: rgb(0, 0, 0); opacity: 0; z-index: 0; display: none;"></div>
                                                <div data-b="0" style="z-index: 1; top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; overflow: hidden; transform: translate3d(-755px, 0px, 0px);"><img data-u="image" src="/themes/img/09.jpg" border="0" style="top: -1.25px; left: 0px; width: 755px; height: 377.5px; z-index: 1; position: absolute;">
                                                    <div data-u="loading" class="jssorl-oval" style="position: absolute; top: 0px; left: 0px; text-align: center; background-color: rgba(0, 0, 0, 0.7); width: 755px; height: 375px; z-index: 1000; display: none;"><img src="./goxinh.net_files/saved_resource" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"></div>
                                                </div>
                                                <div data-b="1" data-p="141.25" style="z-index: 1; top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; overflow: hidden; perspective: 141.25px; transform: translate3d(-755px, 0px, 0px);"><img data-u="image" src="./goxinh.net_files/05.jpg" border="0" style="top: -1.25px; left: 0px; width: 755px; height: 377.5px; z-index: 1; position: absolute;">
                                                    <div data-u="loading" class="jssorl-oval" style="position: absolute; top: 0px; left: 0px; text-align: center; background-color: rgba(0, 0, 0, 0.7); width: 755px; height: 375px; z-index: 1000; display: none;"><img src="./goxinh.net_files/saved_resource" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"></div>
                                                </div>
                                                <div data-b="2" data-p="678.0" style="z-index: 1; top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; overflow: hidden; perspective: 678px;"><img data-u="image" src="/themes/img/04.jpg" border="0" style="top: -1.25px; left: 0px; width: 755px; height: 377.5px; z-index: 1; position: absolute;">
                                                    <div data-u="loading" class="jssorl-oval" style="position: absolute; top: 0px; left: 0px; text-align: center; background-color: rgba(0, 0, 0, 0.7); width: 755px; height: 375px; z-index: 1000; display: none;"><img src="./goxinh.net_files/saved_resource" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"></div>
                                                </div>
                                                <div style="z-index: 1; top: 0px; left: 0px; width: 755px; height: 375px; position: absolute; overflow: hidden; transform: translate3d(755px, 0px, 0px);"><img data-u="image" src="/themes/img/02.jpg" border="0" style="top: -13.8333px; left: 0px; width: 755px; height: 402.667px; z-index: 1; position: absolute;">
                                                    <div data-u="loading" class="jssorl-oval" style="position: absolute; top: 0px; left: 0px; text-align: center; background-color: rgba(0, 0, 0, 0.7); width: 755px; height: 375px; z-index: 1000; display: none;"><img src="./goxinh.net_files/saved_resource" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bullet Navigator -->
                                    <div style="position: absolute; display: block; right: 12.0795px; bottom: 12.0795px; left: 332.689px; width: 94.6225px; height: 16.106px;">
                                        <div data-u="navigator" class="jssorb05" style="bottom: 12px; right: 12px; left: 0.311258px; width: 94px; height: 16px; top: 0.0529801px; transform: scale(1.00662);" data-autocenter="1" data-scale-ratio="1.0066225165562914">
                                            <!-- bullet navigator item prototype -->
                                            <div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 0px; top: 0px;" data-jssor-button="1" class=""></div>
                                            <div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 26px; top: 0px;" data-jssor-button="1" class=""></div>
                                            <div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 52px; top: 0px;" data-jssor-button="1" class="av"></div>
                                            <div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 78px; top: 0px;" data-jssor-button="1" class=""></div>
                                        </div>
                                    </div>
                                    <!-- Arrow Navigator -->
                                    <div style="position: absolute; display: block; top: 159.549px; left: 10.0662px; width: 40.2649px; height: 58.3841px;"><span data-u="arrowleft" class="jssora22l" style="top: 0.192053px; left: 0.13245px; width: 40px; height: 58px; transform: scale(1.00662);" data-autocenter="2" data-jssor-button="1" data-scale-ratio="1.0066225165562914"></span></div>
                                    <div style="position: absolute; display: block; top: 159.549px; right: 10.0662px; width: 40.2649px; height: 58.3841px;"><span data-u="arrowright" class="jssora22r" style="top: 0.192053px; right: 10px; width: 40px; height: 58px; left: 0.13245px; transform: scale(1.00662);" data-autocenter="2" data-jssor-button="1" data-scale-ratio="1.0066225165562914"></span></div>
                                </div>

                                <!-- #endregion Jssor Slider End -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-xs-6 banner-top" style="max-height: 190px;overflow: hidden;">
                                <img class="img-responsive" style="width:100%;height:100%;" src="/themes/img/banner1.jpg" alt="">
                            </div>
                            <div class="col-lg-12 col-xs-6 banner-bot" style="max-height: 190px;overflow: hidden;">
                                <img class="img-responsive" style="width:100%;height:100%;" src="/themes/img/banner2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
<!-- //////////////////// -->
                <hr>

                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div id="container">
                        <div id="content" role="main">

                            <div class="row">


                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <div class="row  product-item ">
                                        <div class="thumbnail">

                                            <a href="http://goxinh.net/san-pham/giuong-ngu-gl-copy-copy" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="250" height="178" src="./upload/product/sp-demo.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                                <h2 class="woocommerce-loop-product__title">Giường ngủ GL</h2>
                                                <span class="price">Giá <span class="woocommerce-Price-amount amount">1.000.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <div class="row  product-item ">
                                        <div class="thumbnail">

                                            <a href="http://goxinh.net/san-pham/giuong-ngu-gl" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="250" height="178" src="./upload/product/sp-demo.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                                <h2 class="woocommerce-loop-product__title">Giường ngủ GL</h2>
                                                <span class="price">Giá <span class="woocommerce-Price-amount amount">5.000.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <div class="row  product-item ">
                                        <div class="thumbnail">

                                            <a href="http://goxinh.net/san-pham/giuong-ngu-gl-copy" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="250" height="178" src="./upload/product/sp-demo.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                                <h2 class="woocommerce-loop-product__title">Giường ngủ GL (Copy)</h2>
                                                <span class="price">Giá <span class="woocommerce-Price-amount amount">1.000.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <div class="row  product-item last">
                                        <div class="thumbnail">

                                            <a href="http://goxinh.net/san-pham/giuong-ngu-gl-copy-2" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="250" height="178" src="./upload/product/sp-demo.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                                <h2 class="woocommerce-loop-product__title">Giường ngủ GL (Copy)</h2>
                                                <span class="price">Giá <span class="woocommerce-Price-amount amount">5.000.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <div class="row  product-item ">
                                        <div class="thumbnail">

                                            <a href="http://goxinh.net/san-pham/giuong-ngu-gl-copy-3" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="250" height="178" src="./upload/product/sp-demo.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="">
                                                <h2 class="woocommerce-loop-product__title">Giường ngủ GL (Copy)</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-md-4 col-xs-12">
                    <div class="row">
                        <img class="quangcao" src="./goxinh.net_files/quangcao.jpg" alt="">
                        <!-- /.row -->
                        <div class="well news-right">
                            <ul class="list-unstyled">
                                <li><a href="http://goxinh.net/sai-gon-ngap-duong-pho-ket-cung-sau-mua-lon.html"><i class="fa fa-hand-o-right" aria-hidden="true"></i> <span>Sài Gòn ngập, đường phố kẹt cứng sau mưa lớn</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>