<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gỗ Xinh,Gỗ nội thất,gỗ xuất khẩu">
    <meta name="author" content="">
    <title>GoXinh.Net</title>
    <link rel="icon" href="/themes/img/logo-icon.png" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="/themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/themes/css/goxinh.css" rel="stylesheet">
    <!-- <script src="/themes/js/jssor.slider-23.1.1.min.js" type="text/javascript"></script> -->
    <script src="/themes/js/jssor.js" type="text/javascript"></script>
    <link href="/themes/css/jssor.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="nav navbar-default nav-top-phone">
            <div class="row">
                <div class="col col-lg-9 col-sm-9 col-xs-12">
                    <div class=" navbar-collapse infomation ">
                        <ul class="nav navbar-nav nav-top-phone">
                            <li class=""><a href="tel: +840423239999" class="phone-info"><i class="fa fa-phone-square"></i> +84 04 2323 9999</a></li>
                            <!--<li  class=""><a href="#"><i class="fa fa-envelope"></i> Liên hệ email</a></li>-->
                        </ul>
                    </div>
                    <div class="navbar-collapse infomation ">
                        <ul class="nav navbar-nav nav-top-info navbar-right">
                            <li class=""><a href="#"><i class="fa fa-info"></i> Giới thiệu gỗ xinh</a></li>
                            <li class=""><a href="#"><i class="fa fa-reply"></i> Cách đặt hàng</a></li>
                            <li class=""><a href="#"><i class="fa fa-credit-card-alt"></i> Thanh toán</a></li>
                            <li class=""><a href="#"><i class="fa fa-truck"></i> Giao hàng</a></li>
                            <li class=""><a href="#"><i class="fa fa-newspaper-o"></i> Bảo hành</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-sm-3 col-xs-12">
                    <img class="img-logo-top" src="/themes/img/logo.png" />
                </div>
            </div>
        </nav>
        <!-- Navigation -->
        <nav class="nav navbar-default nav-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Phòng thờ</a>
                    </li>
                    <li>
                        <a href="#">Phòng khách</a>
                    </li>
                    <li>
                        <a href="#">Hầm rượu</a>
                    </li>
                    <li>
                        <a href="#">Phòng ngủ</a>
                    </li>
                    <li>
                        <a href="#">Nhà bếp</a>
                    </li>
                    <li>
                        <a href="#">Gỗ xuất khẩu</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <nav class="navbar navbar-default info-signup">
            <div class="container-fluid">
                <form class="navbar-form navbar-left" styles="450px">
                    <div class="row">
                        <div class="col-xs-9 col-md-9">
                            <div class="form-group" style="width:100%">
                                <input type="text" style="width:100%;" class="form-control" placeholder="Nhập tên hoặc mã sản phẩm">
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 padding-left-0">
                            <button type="submit" class="btn btn-default btn-search ">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="btn-sign-in" data-toggle="modal" data-target="#moda-login"><span class="fa fa-sign-in"></span> Đăng nhập </a></li>
                    <li><a href="#" class="">|</a></li>
                    <li><a href="#" class="btn-login" data-toggle="modal" data-target="#moda-registration"><span class="fa fa-user-plus"></span> Đăng ký</a></li>
                    <li><a href="#" class=""><span class="btn-cart"><span class="fa fa-cart-plus"></span> Giỏ hàng</span></a></li>
                </ul>
                <div class="modal fade " id="moda-login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-login">
                        <div class="modal-content">
                            <div class="modal-header header-login">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> ×</button>
                                <h4 class="modal-title text-center" id="myModalLabel"> Đăng nhập</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12" style="">
                                        <!-- Nav tabs 
                           <ul class="nav nav-tabs">
                               <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                              
                           </ul>
                           Tab panes -->
                                        <div class="tab-content row">
                                            <div class="tab-pane active" id="Login">
                                                <form role="form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-2 control-label"> Email</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="email1" placeholder="Email" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1" class="col-sm-2 control-label"> Password</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <button type="submit" class="btn btn-primary btn-sm"> Đăng nhập</button>
                                                            <a href="javascript:;">Quên mật khẩu?</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- <div id="OR" class="hidden-xs">
                               OR</div>-->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row text-center sign-with">
                                            <div class="col-md-12">
                                                <h4> Bạn có thể đăng nhập qua</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="btn-group btn-group-justified">
                                                    <button class="loginBtn loginBtn--facebook"> Facebook</button>
                                                    <button class="loginBtn loginBtn--google"> Google</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade " id="moda-registration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-login">
                        <div class="modal-content">
                            <div class="modal-header header-login">
                                <button type="button" class="close color-white" data-dismiss="modal" aria-hidden="true"> x</button>
                                <h4 class="modal-title text-center" id="myModalLabel"> Đăng ký</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Nav tabs -->
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="Registration">
                                                <form role="form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-2 control-label"> Name</label>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <select class="form-control">
                                                                        <option>Mr.</option>
                                                                        <option>Ms.</option>
                                                                        <option>Mrs.</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control" placeholder="Name" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-2 control-label"> Email</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="email" placeholder="Email" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="mobile" class="col-sm-2 control-label"> Mobile</label>
                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="mobile" placeholder="Mobile" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password" class="col-sm-2 control-label"> Password</label>
                                                        <div class="col-sm-10">
                                                            <input type="password" class="form-control" id="password" placeholder="Password" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <button type="button" class="btn btn-primary btn-sm"> Đăng ký</button>
                                                            <button type="button" class="btn btn-default btn-sm"> Hủy</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>