<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Goxinh.net &copy; 2016 </div>
            <div class="pull-right">
                <strong>by</strong> Lê Mạnh Hiếu - 0947.88.58.58 </div>
        </div>
    </div>
</div>
</div>
<!-- chat             -->
</div>
<script src="/themes/backend/js/jquery-3.1.1.min.js"></script>
<script src="/themes/backend/js/bootstrap.min.js"></script>
<script src="/themes/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/themes/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="/themes/backend/js/inspinia.js"></script>
<script src="/themes/backend/js/plugins/pace/pace.min.js"></script>
<!-- jQuery UI -->
<script src="/themes/backend/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/themes/backend/js/vietyen.js"></script>
</body>

</html>