</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side nav-menu-left" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                                <img alt="image" class="img-circle" src="/themes/backend/img/avatarx50.png" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Le Manh Hieu</strong>
                                    </span>
                            </a>

                        </div>
                        <div class="logo-element"> GX </div>
                    </li>
                    <!-- <li>
                        <a href="/admin"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> </a>

                    </li> -->
                    <li>
                        <a href="/admin/categories"><i class="fa fa-files-o"></i> <span class="nav-label">Danh mục sản
                                phẩm</span> </a>
                    </li>
                    <li>
                        <a href="/admin/products"><i class="fa fa-diamond"></i> <span class="nav-label">Sản phẩm</span></a>
                    </li>
                    <li>
                        <a href="/admin/banner"><i class="fa fa-picture-o"></i> <span class="nav-label">Banner</span></a>

                    </li>
                    <!-- <li>
                        <a href="/admin/contact"><i class="fa fa-envelope"></i> <span class="nav-label">Thông tin liên hệ </span></a>
                        <span class="label label-warning pull-right">16/24</span>
                    </li> -->

                    <li>
                        <a href="/admin/news"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Tin tức</span></a>
                    </li>

                    <li>
                        <a href="/admin/carts"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Đơn hàng</span></a>
                    </li>

                    <li>
                        <a href="/admin/order-required"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Hàng theo yêu cầu</span></a>
                    </li>

                    <!-- <li>
                        <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Tin tức</span>  </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Hàng đặt</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                    </li> -->
                    <!-- <li>
                        <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label"></span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span></a>

                    </li> -->
                </ul>
            </div>
        </nav>