<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <a href="/" target="_blank" class="link-logo-top-header"> <img src="/images/logo.png" alt="logo goxinh"
                        width="150px"></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>

                </li>
                <li>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                </li>
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Goxinh.net Admin.</span>
                </li>
                <li>
                    <a href="/" target="_blank">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="/admin/changepass">
                        <i class="fa fa-book"></i> Đổi mật khẩu
                    </a>
                </li>
                <li>
                    <a href="/admin/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
    </div>