<% include ./layout/header.ejs %>
<% include ./layout/menu-left.ejs %>
<% include ./layout/top.ejs %>

<!-- Content administrator -->
<div class="row border-bottom white-bg dashboard-header admin-content">
    <div class="col-md-12">
        <h2>Welcome Administrator Goxinh.net</h2>
    </div>
</div>
<!-- End Content administrator -->

<% include ./layout/footer.ejs %>