<% include ../layout/header.ejs %>
    <link href="/themes/admin/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="/themes/admin/css/plugins/select/select2.min.css" rel="stylesheet">
    <!-- <script src="/themes/admin/js/ckeditor.js"></script> -->
    <% include ../layout/menu-left.ejs %>
        <% include ../layout/top.ejs %>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Administrator Phutung4t</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                        <!-- <li>
                    <a>Category</a>
                </li> -->
                        <li>
                            <span>Sản phẩm</span>
                        </li>
                        <li class="active">
                            <strong>Import excel</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Import Excel</h5>

                                <div class="ibox-tools">
                                    <a href="/admin/product/list" class="btn btn-success btn-plus" type="button"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<span class="bold">Back</span></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <% if(success_msg != ''){ %>
                                    <div class="alert alert-success">
                                        <%= success_msg%>
                                    </div>
                                    <% } %>
                                        <% if(error_msg != ''){%>
                                            <div class="alert alert-danger">
                                                <%= error_msg%>
                                            </div>
                                            <%}%>

                                                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                                    <div class="form-group"><label class="col-sm-2 control-label">Tệp tin</label>
                                                        <div class="col-sm-6"><input type="file" name="excelfile" class="form-control"></div>
                                                    </div>

                                                    <!-- <div class="form-group"><label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-6"><input type="text" class="form-control">
                                        <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                    </div>
                                </div> -->

                                                    <div class="hr-line-dashed"></div>

                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <a href="/admin/product/list" class="btn btn-white">Hủy</a>
                                                            <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                                                        </div>
                                                    </div>
                                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <% include ../layout/footer.ejs %>
                <script src="/themes/admin/js/plugins/select2/select2.full.min.js"></script>
                <!-- <script src="https://cdn.ckeditor.com/4.8.0/standard-all/ckeditor.js"></script> -->
                <script src="/themes/admin/js/ckeditor/ckeditor.js"></script>
                <script>
                    $(document).ready(function() {
                        $(".select2_demo_1").select2();
                        $(".select2_demo_2").select2();
                        $(".select2_demo_3").select2({
                            placeholder: "Select a state",
                            allowClear: true
                        });
                    });
                    // CKEDITOR.replace('content', {
                    //     fullPage: true,
                    //     extraPlugins: 'docprops',
                    //     // Disable content filtering because if you use full page mode, you probably
                    //     // want to  freely enter any HTML content in source mode without any limitations.
                    //     allowedContent: true,
                    //     height: 320
                    // });
                </script>


                <% include ../layout/endfooter.ejs %>