<% include ../playout/header.ejs %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->

        <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
                <section class="wrapper main-wrapper row" style=''>
                    <div class='col-xs-12'>
                        <div class="page-title">
                            <div class="pull-left">
                                <h1 class="title">Thêm tin tức</h1>
                            </div>
                            <div class="pull-right hidden-xs">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Thông Tin</h2>
                                <div class="actions panel_actions pull-right">
                                    <!-- <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a> -->
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){%>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <%}%>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>

                                                                <%= e.msg %> <br/>
                                                                    <%});%>

                                                        </div>
                                                        <% };%>
                                                            <form action="" method="post">
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Tên *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="name" value="" class="form-control" name="name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Tiêu đề *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <input type="text" id="title" value="" class="form-control" name="title">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Mô tả *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <textarea cols="80" id="description" name="description" rows="10">
                                                                                    </textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Nội dung *</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <textarea cols="80" id="detail" name="detail" rows="10">
                                                                                        </textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Loại tin tức</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <select class="form-control" id="type" name="type">
                                                                                <option value="0" selected>Tin tức</option>
                                                                                <option value="1" >Giới thiệu</option>
                                                                                <option value="2" >Cách mua hàng</option>
                                                                                <option value="3" >Hướng dẫn thanh toán</option>
                                                                                <option value="4" >Giao hàng</option>
                                                                                <option value="5" >Bảo hành</option>
                                                                                <option value="6" >Bản quyền và thương hiệu</option>
                                                                                <option value="7" >Bảo vệ thông tin cá nhân</option>
                                                                             </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="form-group">
                                                                        <label class="form-label" for="field-120334">Trạng thái</label>
                                                                        <span class="desc"></span>
                                                                        <div class="controls">
                                                                            <label><input type="radio" name="statusradio" value="true" checked>Enable</label>
                                                                            <label class="panel-radio-add-banner"><input type="radio" value="false" name="statusradio">Disable</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                                    <div class="text-left">
                                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                                        <a href="admin/news/list.html" class="btn">Hủy</a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
            <% include ../playout/footer.ejs %>
                <script>
                    CKEDITOR.replace('description', {
                        fullPage: true,
                        extraPlugins: 'docprops',
                        // Disable content filtering because if you use full page mode, you probably
                        // want to  freely enter any HTML content in source mode without any limitations.
                        allowedContent: true,
                        height: 320
                    });
                    CKEDITOR.replace('detail', {
                        fullPage: true,
                        extraPlugins: 'docprops',
                        // Disable content filtering because if you use full page mode, you probably
                        // want to  freely enter any HTML content in source mode without any limitations.
                        allowedContent: true,
                        height: 320
                    });
                </script>